body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;

}

header {
    display: flex;
    justify-content: center;

    background-color: black;
}

header ul {
    display: flex;
    list-style: none;

    padding: 0;
    gap: 6rem;
}

header ul a {
    color: white;

    font-family: "Jersey 10", sans-serif;
    font-size: 24px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > h1 {
    margin: 0;
    margin-bottom: 1rem;

    font-family: "Jersey 10", sans-serif;
    font-size: 50px;
}

.secao-login {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-left: 8rem;
    padding-right: 8rem;

    border-radius: 30px;
    border-style: solid;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 13px;
}

#p-login {
    position: relative;
    right: 10rem;

    font-size: 1.2rem;
    font-weight: 900;
    text-decoration: underline;
}

.secao-login label {
    font-size: 1.1rem;
    font-weight: 200
}

.secao-login input {
    border: 2px solid gray;
    border-radius: 6px;
    width: 300px;
    padding: 0.6rem;
    margin-bottom: 10px;
}

.secao-login button {
    border: 1px solid black;
    border-radius: 8px;

    width: 150px;

    background-color: white;
}
